/* XS – Extra Small */
@media screen and (min-width: 320px) {
	}

/* SM – Small */
@media screen and (min-width: 480px) {
	}

/* MD – Medium */
@media screen and (min-width: 768px) {
	}

/* LG – Large */
@media screen and (min-width: 1024px) {
	}

/* XL – Extra Large*/
@media screen and (min-width: 1366px) {
	}
