:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* font-family: Times New Roman, serif */
	}

/* TEXT-BOX TRIM*/
/* *, *::before, *::after { text-box: trim-both cap alphabetic; } */

h1 {
	font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
	font-weight: 100;
	}
